.carousel-bg{
    background-color: #feeae9;
    border-radius: 10px;
    
}
.buy-now-button{
    background-image: linear-gradient(to bottom, #ff5898, #ff136f);
    border-radius: 8px;
    color: white;
    padding: 9px 25px;
    border: none;
    cursor: pointer;
}
.price{
    color: #ff136f;
}
.carousel-item{
    padding: 20px 40px;
}
.container{
    margin-bottom: 100px;
    

}
.cat1{
    background-color: orange;
    padding: 10px 30px;
    border-radius: 10px;
    

}
.cat2{
    background-color: orchid;
    padding: 10px 30px;
    border-radius: 10px;
    

    
}
.cat3{
    background-color: rgb(105, 20, 202);
    padding: 10px 30px;
    border-radius: 10px;
    
}
.catagoies img{
    width: 100px;
}
.catagoies h1{
    color: white;
}
.card{
    border: none;
    box-shadow: 10px 10px 10px lightgray;
    border-radius: 10px;
}
#Countact-us{
    height: 300px;
}
footer p{
    font-size: 12px;
    text-align: center;
    color: gray;
}